
@model RegistroNotas.Models.LoginModel
@{
    ViewBag.Title = "INICIAR SESION";
}

@section style{
    <style>
        body{
            background-color: wheat;
        }
        .container1 {
            margin-top: 20vh;
        }
        .card-container.card {
            max-width: 350px;
            padding: 40px 40px;
            margin: 0 auto;
            /* margin-top: 20vh; /* Colocar la tarjeta a 20% de la altura de la ventana */
        }

        .btn {
            font-weight: 700;
            height: 36px;
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            cursor: default;
        }

        .card {
            background-color: #FFFF;
            padding: 20px 25px 30px;
            margin: 0 auto 25px;
            margin-top: 50px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        }

        .profile-img-card {
            width: 96px;
            height: 96px;
            margin: 0 auto 10px;
            display: block;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }

        .profile-name-card {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            margin: 10px 0 0;
            min-height: 1em;
        }

        .reauth-email {
            display: block;
            color: #404040;
            line-height: 2;
            margin-bottom: 10px;
            font-size: 14px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        .form-signin #inputEmail,
        .form-signin #inputPassword {
            direction: ltr;
            height: 44px;
            font-size: 16px;
        }

        .form-signin input[type=email],
        .form-signin input[type=password],
        .form-signin input[type=text],
        .form-signin button {
            width: 100%;
            display: block;
            margin-bottom: 10px;
            z-index: 1;
            position: relative;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        .form-signin .form-control:focus {
            border-color: rgb(104, 145, 162);
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
        }

        .btn.btn-signin {
            background-color: wheat;
            padding: 0px;
            font-weight: 700;
            font-size: 14px;
            height: 36px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            border: none;
            -o-transition: all 0.218s;
            -moz-transition: all 0.218s;
            -webkit-transition: all 0.218s;
            transition: all 0.218s;
        }

            .btn.btn-signin:hover,
            .btn.btn-signin:active,
            .btn.btn-signin:focus {
                background-color: rgb(12, 97, 33);
            }

        .forgot-password {
            color: rgb(104, 145, 162);
        }

            .forgot-password:hover,
            .forgot-password:active,
            .forgot-password:focus {
                color: rgb(12, 97, 33);
            }
    </style>
}

<div class="container">
    <div class="container1">
        <h1 style="text-align:center; font-family:'Times New Roman'; color:black;">Ingreso al Sistema de Notas</h1>
        <br />
    </div>
    <div class="card card-container">
        <img class="profile-img-card" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/2048px-User-avatar.svg.png" alt="" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <!-- Campos de entrada para el nombre de usuario y la contraseña -->
            <input type="text" id="username" class="form-control" placeholder="Nombre de Usuario" autofocus required>
            <input type="password" id="password" class="form-control" placeholder="Contraseña" required>

            <!-- Espacio para mostrar mensajes de error -->
            <span class="text-danger" id="errorBag"></span>

            <!-- Botón para iniciar sesión -->
            <button class="btn btn-lg btn-outline-primary btn-block btn-signin mt-3" style="color:white;" type="button" id="btnLogin">Ingresar</button>
        </form>
        <a href="" class="forgot-password">
            ¿Olvidó la contraseña?
        </a>
    </div>
</div>

@section scripts {
    <!-- Script de JavaScript para manejar el inicio de sesión mediante AJAX -->
    <script>
        $(document).ready(function () {
            $("#btnLogin").click(function () {
                var username = $("#username").val();
                var password = $("#password").val();
                var data = { username: username, password: password };

                // Deshabilita el botón de inicio de sesión para evitar múltiples solicitudes.
                $("#btnLogin").prop("disabled", true);

                // Realiza una solicitud AJAX para el proceso de inicio de sesión.
                $.ajax({
                    type: "POST",
                    url: "@Url.Content("~/Auth/LoginMethod")",
                    data: data,
                    success: function (response) {
                        if (!response.success) {
                            // Si el inicio de sesión no es exitoso, muestra el mensaje de error.
                            $("#errorBag").html(response.message);

                            // Habilita nuevamente el botón de inicio de sesión.
                            $("#btnLogin").prop("disabled", false);
                        } else {
                            // Si el inicio de sesión es exitoso, redirige al usuario a la página de inicio.
                            window.location.href = "@Url.Content("~/Home/Index")";
                        }
                    }
                });
            });
        });
    </script>
}